{% extends 'frontend/base.html' %} {% load static %} {% block title %}Home {% endblock %} {% block content %}
<div class="jumbotron">

    <h1 class='display-3'>Welcome you Guys</h1>
    <hr class="my-2">
    <p>
        <img style="width: 500px; height: 500px;" alt="Image description" src="{% static 'images/websipus.jpg'%}" />
    </p>
    <h3 class="display3">My name is vasutorn chaowalittawin</h3>
    <h2 class="display3">This is all about me and my hobbies at this time </h2>

</div>

{% endblock %}